{% extends 'base.html' %}
{% load static %}
{% block title %}

<title>Log in</title>

{% endblock %}


{% block body %}
	<div style="text-align: center;">
		<h3 style="text-align:left;">If you don't have an account, please <a href="{% url 'register' %}">register</a></h3>
		<h1>Log in</h1>
		{% if form.errors %}
		<p style="color: red;">
		Your username and password didn't match.
		Please try again.
		</p>
		{% else %}
		<p>Please, use the following form to log in:</p>
	{% endif %}
	</div>
	<div class="login-form">
	<form action="{% url 'login' %}" method="post">
	{% csrf_token %}
	<table  border="0" align="center" style="width: 60%;">
	<!-- {{ form.as_p }} -->
	{% for field in form.visible_fields %}
	<tr >{{field.errors}}</tr>
	<tr>
	<td>
	<b>{{field.label_tag}}</b><br>
	{{field}}

	</td></tr>
	<!-- {{ form }} -->
	{% endfor %}
	</table>
	
	<input type="hidden" name="next" value="{{ next }}" />
	<p><input type="submit" value="Log in"></p>
	</form>
	</div>


{% endblock %}
 <!-- {% for field in user_form.visible_fields %}
	<tr style="color:'red'">{{ field.errors }}</tr>
      <tr>
         <th style="width: 26%; text-align: right;">{{ field.label_tag }}</th> 
        <td style="width: 74%;">
        <b>{{ field.label_tag }}</b><br>
           
          {{ field }}<br><br>
          {{ field.help_text }}
        </td>
      </tr>
    {% endfor %}  -->